{% extends 'CardBlanket.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ baseroute }}public/css/card.css">
    <link href="{{ baseroute }}public/css/style.css" rel="stylesheet">
    <link href="{{ baseroute }}public/css/main.css" rel="stylesheet">
    <link href="{{ baseroute }}public/css/vakansiya.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ baseroute }}public/css/blocks.css">
{% endblock %}

{% block content %}
    <div class="base">
        <div class="base-box" style="display:flex; justify-content: center; align-items: center">
            <form action="" class="form" style="width: 80%;">
                <label>
                    <span>Тестирование</span>
                    <select name="test" id="test">
                        <option value="0" selected>Выберите тест</option>
                        {% for test in tests %}
                            <option id="select_{{ test.test_id }}" year="{{ test.year_id }}"
                                    subject="{{ test.subject_code }}" value="{{ test.test_id }}">
                                {{ test.year }} - {{ test.subject }}
                            </option>
                        {% endfor %}
                    </select>
                </label>
            </form>
        </div>
        <div class="el-content">
            <div class="flex-evenly-center my-2" id="razdels">

            </div>
        </div>
        <div class="rating-box mx-1 mt-1" id="cards">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ baseroute }}public/js/card.js"></script>
{% endblock %}
