{% if particips %}
    {% for particip in particips %}
        {% set classlist = 'accordion-name' %}
        {% set paretnclasslist = 'accordion name my-1 mx-1' %}
        {% if particip.results and passed %}
            {% if particip.results.razdel.grade > 2 %}
                {% set classlist = 'accordion-name good' %}
                {% set paretnclasslist = 'accordion name my-1 mx-1 good' %}
            {% else %}
                {% set classlist = 'accordion-name bad' %}
                {% set paretnclasslist = 'accordion name my-1 mx-1 bad' %}
            {% endif %}
        {% endif %}
        <div class="{{ paretnclasslist }}" id="accord_{{ particip.code }}">
            <div class="{{ classlist }}" id="block_{{ particip.code }}">
                <p class="small font-weight-normal text-uppercase lts-2px"
                   style="cursor: pointer;">
                    {% if particip.results and passed %}
                        {% if particip.results.razdel.grade > 2 %}
                            <b>{{ particip.surname }} {{ particip.name }} {{ particip.secondname }} - Зачет</b>
                        {% else %}
                            <b>{{ particip.surname }} {{ particip.name }} {{ particip.secondname }} - Незачет</b>
                        {% endif %}
                    {% else %}
                        <b>{{ particip.surname }} {{ particip.name }} {{ particip.secondname }}</b>
                    {% endif %}
                </p>
            </div>
            <div class="accordion-content my-1" id="contetnt_{{ particip.code }}">
                {% if passed %}
                    {% include 'Blocks.html.twig' %}
                {% else %}
                    {% include 'ElementInputs.html.twig' %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endif %}
